@page {
	size: A5;
	margin: 0cm !important;
}

body {
    font-family: 'Gaegu', sans-serif;
    color: #444;
    /* display:flex; */
}

@media print {
    body {
	margin: 0;
    }
}

section {
    height: 143mm;
    width: 105mm;
    padding: 0mm;
    border: 1px dotted rgba(128, 128, 128, 0.5);
}

@media print {
    section {
	height: 143mm;
	width: 105mm;
	border: none;
    }
}

.main-content {
    display:grid;
    grid-column-start: span 2;
    grid-template-columns: 45% 55%;
}

h1,
.group-header {
    text-align:center;
    font-size: 0.75em;
    margin-top: 1mm;
    margin-bottom: -1mm;
    font-weight: normal;
}

.group {
    border-radius: 1mm 0.75mm 0.5mm 1mm;
    border: 1px solid currentcolor;
    margin: 1mm;
    padding: 0.5mm;
}

.flex-row .blank {
    
    border-bottom: 1px solid currentcolor;
    margin: 0 1mm;
    flex: 1 1 auto;
    position:relative;
    bottom: 1mm;
}


.statblock {
    display: grid;
    grid-template-columns: 25% 75%;
}

.close-top-fillable.group {
    padding-top: 1mm;
}

.acthac0 {
    display:grid;
    grid-template-columns: auto auto;
}

.flex-row {
    display:flex;
}

#info {
    font-size: 0.75em;
}

#info .blank.small {
    flex: 0 0 5mm;
}

.weapon-block {
    letter-spacing: -0.5mm;
}

.weapon-row {
    font-size: 0.8em;
    line-height: 1.25em;
}

.weapon-row .blank.big {
    flex-grow: 3;
}

.weapon-row .blank.small {
    flex: 0 0 5mm;
}

.thief-skills {
    border-collapse: collapse;
    letter-spacing: -0.5mm;
    width: 100%;
    table-layout: fixed;
    border: hidden;
}

.thief-skills td {
    border: 1px solid currentcolor;
    font-size: 0.75em;
    text-align: center;
}

.thief-skills td:nth-of-type(1) {
    text-align: left;
}

.thief-skills th {
    border: 1px solid currentcolor;
    font-size: 0.6em;
    font-weight: normal;
    line-height: 0.75em;
}

.thief-skills .skill-name {
    width: 20mm;
}


.thief-skills .fixed-ability {
    width: 10mm;
}

.fillable-before:before {
    display: inline-block;
    content: " ";
    border-bottom: 1px solid currentcolor;
    width: 8mm;
    margin: 0 1mm;
}

#saves {
    grid-area: saves;
    letter-spacing: -0.6mm;
}


.header {
    grid-column-start: span 2;
    display:flex;
    flex-wrap: wrap;
}

.header > div:after {
    content: " ";
    max-width: 100%;
    border-bottom: 1px dashed black;
    display: inline-block;
}

.header .first-row {
    flex: 0 0 50%;
}

.header .second-row {
    flex: 0 0 33%;
}

.stat-props {
    font-size: 0.75em;
    letter-spacing: -0.5mm;
    line-height: 1.5em;
}

.statblock .fillable-before:before {
    width: 6mm;
}

.acthac0, #hp {
    height: 3em;
}

.attacks {
    border-collapse: collapse;
}

.attacks th {
    font-weight: normal;
    font-size: 0.75em;
}

.attacks td,
.attacks th {
    border: 1px solid black;
}

#skills {
    display:grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: min-content min-content auto;
}

.span-2 {
    grid-column-start: span 2;
}

.skills-col {
    display:flex;
    flex-direction: column;
}

#proficiencies, #equipment {
    flex: 1 1 auto;
}

#money {
    display: flex;
}

.coins {
    height: 3em;
    flex: 1 1 auto;
}

.free-form {
    background:
	/* linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center, */
	linear-gradient(90deg, white calc(15px - 1px), transparent 1%) center,
	/* linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, */

	linear-gradient(white calc(15px - 1px), transparent 1%) center,
	/* $dot-color; */
	#aaa;
    /* background-size: $dot-space $dot-space; */
    background-size: 15px 15px;
}
